.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 2em;
  width: 4em;
}

div {
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
}
